@font-face {
  font-family: "shabnam";
  src: url("../public/fonts/shabnam.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: "shabnam", "Andika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  font-size: larger;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #e5e5e5;

  .content {
      align-self: center;
      width: 90%;
  }
}

.desktop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tabs {
    background: transparent;
  }

  .MuiButtonBase-root {
    color: #e5e5e5;
  }
}

.mobile-header {
  .burger-icon {
    width: 30px;
    height: 30px;
    color: #e5e5e5;
    opacity: 0.8;
    margin: 10px;
  }
  .mobile-header-switch-language {
    display: flex;
    align-items: center;
    padding-inline-start: 20px;
  
    .language {
      padding-inline-end: 10px;
    }
  
    .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
      padding: 4px 8px;
    }
  }
  .list {
    .MuiListItemText-root {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.MuiDrawer-paperAnchorLeft,
.MuiDrawer-paperAnchorRight {
  min-width: 220px;
}

.footer {
  color: #e5e5e5;
  margin-inline-start: 10px;

  a {
    color: #fca311;
    text-decoration: none;
  }
}

.social-media {
  width: 70%;

  .icon-button {
    color: #e5e5e5;
    opacity: 0.6;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.interest-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  min-width: 70px;
  margin: 12px;
  min-height: 70px;

  .card-icon {
    margin-inline: auto;
    margin-bottom: 2px;
  }

  .card-title {
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

.MuiTypography-root {
  color: #fca311;
}

.MuiTimelineOppositeContent-positionAlternate {
  color: #e5e5e5;
}

.contact-card {
  border: 1px solid #e5e5e5;
  background: rgba(125, 125, 125, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin: 10px;
  color: #e5e5e5;
  height: 100px;
  width: 300px;

  &:last-child{
    height: 150px;

    .social-media {
      width: 100%;
    }
  }
  .card-icon {
    margin-inline-end: 20px;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fca311;

  }
}

.project-card {
  color: #e5e5e5;
  margin: 20px;
  width: 300px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  position: relative;

  &:hover {
    .description-bar {
      bottom: 0;
    }
  }

  .description-bar {
    padding: 10px 20px;
    background-color: #707070d3;
    transition: 0.6s ease-in-out;
    width: 310px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    bottom: -100%;

    h3 {
      margin: 10px 0;
    }

    p {
      margin: 10px 0;
      max-width: 500px;
    }

    a {
      text-decoration: none;
    }
  }
}

.swiper {
  width: 100%;

  .swiper_slide {
    width: 300px;
    height: 400px;

    img {
      object-fit: cover;
    }
  }

  .swiper-pagination {
    bottom: -20px;
    
    .swiper-pagination-bullet {
      background-color: #fca311;
    }
  }
}

.switch-language {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 200px;

  .language {
    color: #e5e5e5;
    padding: 0 20px;
  }

  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    padding: 4px 8px;
  }

  .select {
    background-color: rgba(133, 133, 133, 0.253);
    border: 0;
    text-align-last: center;

    .MuiSelect-select {
      color: #fca311;
      font-weight: bold;
    }
  }
}