@font-face {
  font-family: "shabnam";
  src: url("../public/shabnam.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: "shabnam", "Andika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  font-size: larger;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #e5e5e5;

  .content {
      align-self: center;
      width: 90%;
  }
}

.desktop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tabs {
    background: transparent;
  }

  .MuiButtonBase-root {
    color: #e5e5e5;
  }
}

.mobile-header {
  .burger-icon {
    width: 30px;
    height: 30px;
    color: #e5e5e5;
    opacity: 0.8;
    margin: 10px;
  }
  .mobile-header-switch-language {
    display: flex;
    align-items: center;
    padding-inline-start: 20px;
  
    .language {
      padding-inline-end: 10px;
    }
  
    .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
      padding: 4px 8px;
    }
  }
  .list {
    .MuiListItemText-root {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.MuiDrawer-paperAnchorLeft,
.MuiDrawer-paperAnchorRight {
  min-width: 220px;
}

.footer {
  color: #e5e5e5;
  margin-inline-start: 10px;

  a {
    color: #fca311;
    text-decoration: none;
  }
}

.social-media {
  width: 70%;

  .icon-button {
    color: #e5e5e5;
    opacity: 0.6;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}